
# for code::bloks

bin\
obj\
*.cbp
*.depend
*.layout


# for visual studio

*\debug\*
*\release\*
*.ncb
*.user
*.suo


# below from: https://github.com/github/gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Object files
*.o

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so

# Executables
*.exe
*.out
